$primary_color: rgba(53, 99, 233, 1);
$secondry_color: rgba(26, 32, 44, 1);
$succes_color: rgba(156, 211, 35, 1);
$error_color: rgba(255, 68, 35, 1);
$warning_color: rgba(255, 199, 58, 1);
$information_color: rgba(84, 166, 255, 1);
